wheel
pip
cython
toml
redis
influxdb
dbutils
OpenOPC-Python3x
pymodbus==1.4.0
python-etcd
python-snap7
pendulum
pymssql-linux
falcon
msgpack-python
waitress
websocket
websocket_client
logbook
kafka-python
pyyaml
urllib3
zope.interface
constantly
attrs
Automat
twisted
gevent
greenlet
xmltodict
cantools
apscheduler
u_msgpack_python
python-gitlab
openpyxl
xlsxwriter
xlrd
firebirdsql
hjson
pycryptodome==3.9.8
