wheel
pip
cython
toml
redis
influxdb
dbutils
OpenOPC-Python3x
pymodbus==1.4.0
python-etcd
python-snap7
pendulum
falcon
msgpack-python
waitress
websocket
websocket_client
pymssql-linux
logbook
kafka-python
pyyaml
urllib3
zope.interface
constantly
attrs
Automat
twisted
greenlet
gevent
xmltodict
cantools
apscheduler
u_msgpack_python
python-gitlab
openpyxl
xlsxwriter
xlrd
firebirdsql
hjson
./simplecannet-0.0.1-py3-none-any.whl
